@import "tailwindcss";

.font-nun{
    font-family: var(--nunito);
}

@keyframes down-animate{
    0%, 100%{
        transform: translateY(0px);
    }
    65%{
        transform: translateY(25px);
    }
}
